{% extends 'base.html' %}

{% block content %}

    <h1>User Profile</h1>
    <hr>

    <h2>Custom User Data</h2>
    <ul>
        <li><strong>First Name:</strong> {{ custom_user.first_name }}</li>
        <li><strong>Last Name:</strong> {{ custom_user.last_name }}</li>
        <li><strong>Email:</strong> {{ custom_user.email }}</li>
        <li><strong>Phone:</strong> {{ custom_user.phone }}</li>
        <li><strong>Birth Date:</strong> {{ custom_user.birth_date }}</li>


    </ul>

    {% if profile %}
        <h2>Profile Data</h2>
        <ul>
            <li><strong>Bio:</strong> {{ profile.bio }}</li>

        </ul>

    {% else %}
        <p>No profile data available.</p>
    {% endif %}
    <a href="{% url 'profile_edit' %}">edit profile</a>
    <hr>
    <a href="{% url 'password_change' %}">change password</a>

{% endblock %}